<!DOCTYPE html>
<html lang="en">
	
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<link href="stylesheets/style.css" rel="stylesheet">
		<title>MJ</title>
	</head>

  <body> 
    <p1><a href="https://vk.com/moments_of_life_music"><img src="https://lh3.googleusercontent.com/BIiGrMnIkSZXn3a8qYmEbKShNutHhqK7AEcWaLOlyZ9vxmf5QXPPoeUFpsEhH42fww=w300" ></a></p1>
    <p2><a href="https://www.youtube.com/channel/UCKPGO4lZdjBRabsNu0BjZvQ/featured"><img src="https://hsto.org/getpro/geektimes/post_images/033/1be/7dd/0331be7dd3c4c39df87ffda8055d7bd6.png" ></a></p2>
    <p3><a href="http://localhost:3000/kontakt"><img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" ></a></p3>
    <p4><a href="http://localhost:3000/kontakt">Контакты</a></p4>
  </body> 

</html>